name: Release with commit

on:
  push:
    branches:
      - main
jobs:

  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - id: create_tag
        run: |
          deno run --allow-run release.js >> $GITHUB_ENV
      - run: |
          echo "Tag: ${{ env.tag }}"
      - uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ env.tag }}
          message: "Latest release"
          github_token: '${{ secrets.GITHUB_TOKEN }}'
      - uses: ChanTsune/release-with-commit@v2.8.0
        with:
          regexp: "(.+)"
          regexp_options: "us"
          release_name: "version $tag ${{ env.tag }}"
          tag_name: $tag
          body: "$5"
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}' # This token is provided by Actions, you do not need to create your own token
