name: Release with commit

env:
  entry: 23

on:
  push:
    branches:
      - main
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      #
      # <--- TODO put BUILD step, eq. make
      #
      - id: create_tag
        run: "deno run --allow-run release.js >> $GITHUB_ENV"
      - run: "echo \"Builded Tag: ${{ env.tag }}\""
      - run: "pwd; ls -R"
      - uses: montudor/action-zip@v1
        with:
          args: "zip -qq -r release.zip dist/${{ env.entry }}"
      - uses: actions/upload-artifact@v3
        with:
          name: release
          path: release.zip

  release:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: release
      - uses: montudor/action-zip@v1
        with:
          args: unzip -qq release.zip -d unzipped
      - run: ls -R
      - name: Compress action step
        uses: a7ul/tar-action@v1.1.0
        id: compress
        with:
          command: c
          cwd: ./unzipped
          files: |
            ${{ env.entry }}/
          outPath: "release.tar.gz"
      - uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ env.tag }}
          message: "Latest release"
          github_token: '${{ secrets.GITHUB_TOKEN }}'
      - run: |
          cp release.zip pbw-${{ env.entry }}-${{ env.tag }}.zip
          cp release.tar.gz pbw-${{ env.entry }}-${{ env.tag }}.tar.gz
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: "${{ env.tag }}"
          name: "${{ env.tag }}"
          body: "This is a automated release."
          draft: false
          prerelease: false
          files: |
            pbw-${{ env.entry }}-${{ env.tag }}.zip
            pbw-${{ env.entry }}-${{ env.tag }}.tar.gz
