name: Release with commit

on:
  push:
    branches:
      - main
jobs:

  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - id: create_tag
        run: |
          node -e 'const d = new Date(); console.log("tag=v" + d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2));' >> $GITHUB_ENV
      - run: |
          echo "Tag: ${{ env.tag }}"
      - uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ env.tag }}
          message: "Latest release"
          github_token: '${{ secrets.GITHUB_TOKEN }}'
      - uses: ChanTsune/release-with-commit@v2.8.0
        with:
          regexp: "(.+)"
          regexp_options: "us"
          release_name: "version $1"
          tag_name: ${{ env.tag }}
          body: "$5"
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}' # This token is provided by Actions, you do not need to create your own token
